#text-input-div {
    padding: 10px; /* Add padding to input container */
}

#chat-form {
    /* display: flex;
    flex: 10; */
    background-color: rgb(12, 12, 12);
    /* border-radius: 20px; */
}

#prompt-input-symbol {
    font-family: monospace;
    align-self: center;
    align-items: center;
}

#message-input {
    display: flex;
    flex: 9;
    width: 100%;
    box-sizing: border-box;
    background: rgb(12, 12, 12);
    outline: none;
    border: 0;
    color: rgb(172, 172, 172);
    height: 2.8em;
    padding: 20px; /* Reduce padding to fit better on small screens */
    padding-left: 5px;
    border-radius: 20px;
    font-size: medium;
    font-family: monospace;
}

#input-side-bar-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    /* flex: 1; */
    box-sizing: border-box;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.right-side-option-divs {
    height: 4.5vh;
    width: 55px;

    box-sizing: border-box;
    background-color: rgb(17, 17, 17);
}

#right-side-option-last-div {
    width: 65px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.right-side-option-divs::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.scrollable-message-format {
    display: flex;
    margin: 1.4vh 0vh;
    margin-left: 0.7vw;
}

#second-last-option-div {
    background-color: rgb(17, 17, 17);
    /* border: 1px solid red; */
}

#emoji-toggler {
    padding-top: 8px;
    align-self: center;
    /* border: 1px solid yellow; */
}