/*importing all css files, so only style.css needs to be added*/
@import "screen.css";
@import "debug.css";
@import "class.css";
@import "main-body.css";
@import "message-area.css";
@import "input-form.css";

p, pre {
    padding: 7px;
    border-radius: 9px;
    font-size: medium;
    color: white;
    background: rgb(34, 33, 33);
}

pre {
    white-space: pre-wrap; /* Allow wrapping for long lines */
    font-family: monospace; /* Use a monospace font for consistent formatting */
    overflow-wrap: break-word;
}

label {
    color: rgb(155, 142, 142);
    font-family: monospace;
    text-wrap: nowrap;
    text-wrap-mode: nowrap;
}
